

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
    padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}

section {
	background-color: #888;
	border: 1px black solid;
    padding: 20px;
}




For the background colors, use the following colors: 
- header = #FFED74
- nav = #E8C66A
- aside = #FFC675
- article = #E89C6C
- footer = #FF957E
- div / section = #FFE2B8




