
* {margin:0;padding:0;box-sizing:border-box;}

body {
	background-color: rgb(0,255,0);
	border: 0px black solid;
    padding: 20px;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}

img {
	width: 1000px;
}

#hero {
	background:url(../images/biogasplant_hero_2.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height: 70vh;
	font-size: 2em;
	padding: 2em;
	background-color: #888;
	border: 1px black solid;
    padding: 20px;
}

section {
	width: 700px;
	background-color: #888;
	border: 1px black solid;
    padding: 20px;
}

article {
	width: 700px;
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

aside {
	width: 700px;
	background-color: #FFC675;
	border: 1px black solid;
    padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}



ul {
    list-style: none;
}




/*
UNIT 5...

Now that you’ve organized your index.html page 
with generic and semantic elements, and you’ve 
added content, let’s use background colors, padding, 
and borders to make of your new blocks clearly visible.

Add selectors for each of your new semantic elements 
and give them the following declarations:

For the background colors, use the following colors: 
- header = #FFED74
- nav = #E8C66A
- aside = #FFC675
- article = #E89C6C
- footer = #FF957E
- div / section = #FFE2B8
*/



